# ***Import* das Bibliotecas Necess√°rias**

In [112]:
import pandas as pd
import numpy as np
import xgboost as xgb
import seaborn as sb
from sklearn.model_selection import train_test_split
%pylab inline

Populating the interactive namespace from numpy and matplotlib

# **Carregamento do *dataframe***

In [113]:
df = sb.load_dataset("iris")

df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [114]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

# **Trasnforma√ß√£o da esp√©cies em dados num√©ricos**

In [115]:
df['species'] = df['species'].map({'setosa': 0, 'versicolor': 1, 'virginica': 2})

In [38]:
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

# **Separando o *Dataframe***

In [116]:
x = df.drop(['species'], axis = 1)
y = df['species']

x , y

(     sepal_length  sepal_width  petal_length  petal_width
 0             5.1          3.5           1.4          0.2
 1             4.9          3.0           1.4          0.2
 2             4.7          3.2           1.3          0.2
 3             4.6          3.1           1.5          0.2
 4             5.0          3.6           1.4          0.2
 ..            ...          ...           ...          ...
 145           6.7          3.0           5.2          2.3
 146           6.3          2.5           5.0          1.9
 147           6.5          3.0           5.2          2.0
 148           6.2          3.4           5.4          2.3
 149           5.9          3.0           5.1          1.8

 [150 rows x 4 columns], 0      0
 1      0
 2      0
 3      0
 4      0
       ..
 145    2
 146    2
 147    2
 148    2
 149    2
 Name: species, Length: 150, dtype: int64)

In [117]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0, train_size=0.7)

len(x_test)/ len(x)

0.3

# **Cirando o modelo com XGBoost**

In [118]:
model = xgb.XGBClassifier()

In [119]:
from sklearn.model_selection import cross_val_score

result_base = cross_val_score(model, x_train, y_train).mean()
acuracia_base = result_base * 100

acuracia_base

95.23809523809523

# **Tunando os Par√¢metros**

In [120]:
model_tunado = xgb.XGBClassifier(booster='dart')

result_tunado = cross_val_score(model_tunado, x_train, y_train).mean()
acuracia_tunado = result_tunado * 100

acuracia_tunado

95.23809523809523

# **Treinando e Testando o modelo campe√£o**

In [121]:
model_tunado.fit(x_train, y_train)

XGBClassifier(booster='dart', objective='multi:softprob')

In [122]:
predict = model_tunado.predict(x_test)

predict[:10]

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1])

# **Validando o Modelo**

In [126]:
acertos = (predict == y_test).sum()
total = len(y_test)

acuracia = 100 * acertos / total

acuracia

97.77777777777777